name: Notify

on:
  schedule:
    - cron: "0 * * * *" # every hour
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2.8.0
        with:
          cache-target-dir: true

      - run: cargo build --release --locked

      - run: ./target/release/denmon check-tether-supply --supply-min 180000000000
