name: Notify

on:
  schedule:
    - cron: "0 * * * *" # every hour
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --release
      - uses: Swatinem/rust-cache@v2.8.0
      - run: ./target/release/denmon check-tether-supply --supply-min 180000000000
